@import "../../../styles/breakpoints.module";



.moonWrapper {
  width: 500px;
  height: 500px;
  position: relative;
  z-index: 2;

  @media screen and (max-width: $phone-L) {
   width: 150px;
   height: 150px;
   }

  .moon {
    width: 100%;
    height: 100%;
    cursor: pointer;


 
  }
}
