.linkWrapper {
    position: relative;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.234);
    background-color: transparent;
    padding: 2rem 0;
    color: white;
  
  
  
    .navLink {
      position: absolute;
      transition: opacity 0.1s linear;
      transition-delay: 0s;
      width: fit-content;
      font-size: 18px;
      font-weight: 400;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem ;  
         color: white;
      text-decoration: none;
      margin-left: 5rem;

    }}
  
//     .activeLink {
//       color: white;
//     }
//   }
  
//   .activeWrapper {
//     background-color: blue;
//   }
  

.linkWrapper:hover .navLink{

scale: 1.4;

  }