* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


.gradient{
 background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(6,6,59,1) 66%, rgba(9,9,57,1) 73%);
}


#three-container {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}








