@import "../../styles//colors.module";
@import "../../styles//breakpoints.module";

.successWrapper {
  height: 100%;
  position: fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 253, 253, 0.445);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  .innerBox {
    position: relative;
    border: 1px solid white;
    width: 30%;
    height: 200px;
    background-color: $dark-blue;
    border-radius: 10px;
    padding: 10px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;

    @media screen and (max-width: $laptop-XS) {
      width: 60%;
    }
    @media screen and (max-width: $tablet-M) {
      width: 70%;
    }
    @media screen and (max-width: $tablet-XS) {
      width: 90%;
    }
    @media screen and (max-width: $phone-M) {
      width: 100%;
    }
    h2 {
      font-size: 1.5rem;

      @media screen and (max-width: $tablet-XS) {
        font-size: 1.2rem;
      }

      @media screen and (max-width: $phone-S) {
        font-size: 1rem;
      }
    }

    p {
      font-size: 1rem;

      @media screen and (max-width: $tablet-XS) {
        font-size: 0.9rem;
      }
    }

    .closeBtn {
      cursor: pointer;
      position: absolute;
      font-size: 1.5rem;
      right: 10px;
      top: 0;
    }
  }
}
